$xtxColor: #27ba9b;
$helpColor: #e26237;
$sucColor: #1dc779;
$warnColor: #ffb302;
$priceColor: #cf4444;

$primary: #ff6eb4 ;
$success: #ff9ac1 ;
$warning: #ffc0cb ;
$danger:  #ff4d94 ;
$error:   #ff3366;
$info:    #ff85b3 ;
